/**
 * @name Blossoms
 * @author Xen Soft
 * @version 6.9.0-xen
 *********************
 * @description Recolored ClearVision + ui tweaks
 * @source https://github.com/nexensys/blossoms-discord-theme
 * @website https://clearvision.github.io
 * @invite dHaSxn3
 */

/* Credits to Zerthox for making the original theme. */
/* Credits to ExperiBass for the original edits */

/* IMPORT CSS */
@import url(https://clearvision.github.io/ClearVision-v6/main.css);
@import url('https://nyri4.github.io/Discolored/support/discolored.theme.css');

/* SETTINGS */
:root {
  /* ACCENT COLORS */
  --main-color: #CC929D;
  /* main accent color (hex, rgb or hsl) [default: #2780e6] */
  --hover-color: var(--main-color);
  /* hover accent color (hex, rgb or hsl) [default: #1e63b3] */
  --success-color: #2ec752;
  /* success accent color (hex, rgb or hsl) [default: #43b581] */
  --danger-color: #e31515;
  /* danger accent color (hex, rgb or hsl) [default: #982929] */
  --url-color: #7477A4;
  /*The color of url links [default: var(--main-color)]*/

  /* STATUS COLORS */
  --online-color: hsl(153, 60%, 49%);
  /* online status color (hex, rgb or hsl) [default: #43b581] */
  --idle-color: #faa61a;
  /* idle status color (hex, rgb or hsl) [default: #faa61a] */
  --dnd-color: #ee1212;
  /* dnd status color (hex, rgb or hsl) [default: #982929] */
  --streaming-color: #4b1f96;
  /* streaming status color (hex, rgb or hsl) [default: #593695] */
  --offline-color: #4d4d4d;
  /* offline/invisible status color (hex, rgb or hsl) [default: #808080] */

  /* GENERAL */
  --text-normal: #FFE9ED;
  /* color of default discord text */
  --text-muted: #7F5B62;
  /* color of default discord muted text (e.g.text found in input fields before typing).*/
  --channels-width: 15rem;
  /* channel list width (240px for Discord default) [default: 220px] */
  --members-width: 16rem;
  /* member list width [default: 240px] */

  /* APP BACKGROUND */
  --background-shading: 0%;
  /* app background shading (0 for complete smoothness) [default: 100%] */
  --background-overlay: rgba(0, 0, 0, 0.7);
  /* app background overlay color/gradient [default: rgba(0, 0, 0, 0.6)] */
  --background-image: url(https://raw.githubusercontent.com/nexensys/blossoms-discord-theme/main/cherry-blossom-digital-art.jpg);
  /* app background image (link must be HTTPS) [default: url(https://clearvision.github.io/images/sapphire.jpg)]*/
  --background-position: center;
  /* app background position [default: center] */
  --background-size: cover;
  /* app background size [default: cover] */
  --background-repeat: no-repeat;
  /* app background repeat [default: no-repeat] */
  --background-attachment: fixed;
  /* app background attachment [default: fixed] */
  --background-brightness: 100%;
  /* app background brightness (< 100% for darken, > 100% for lighten) [default: 100%] */
  --background-contrast: 100%;
  /* app background contrast [default: 100%] */
  --background-saturation: 100%;
  /* app background saturation [default: 100%] */
  --background-invert: 0%;
  /* app background invert (0 - 100%)  [default: 0%] */
  --background-grayscale: 0%;
  /* app background grayscale ( 0 - 100%) [default: 0%] */
  --background-sepia: 0%;
  /* app background sepia (0 - 100%) [default: 0%] */
  --background-blur: 0px;
  /* app background blur [default: 0px] */

  /* HOME BUTTON ICON */
  --home-icon: url(https://clearvision.github.io/icons/discord.svg);
  /* home button icon (link must be HTTPS) [default: url(https://clearvision.github.io/icons/discord.svg)]*/
  --home-position: center;
  /* home button icon position [default: center] */
  --home-size: 2.7rem;
  /* home button icon size [default: 40px] */

  /* CHANNEL COLORS */
  --channel-unread: var(--text-normal);
  /* Unread Server channel color. [default:  var(--main-color)] THIS OVERRIDES YOUR MAIN COLOR*/
  --channel-color: var(--main-color);
  /*Read Server channel color  [default: rgba(255,255,255,0.3);]*/
  --channel-text-selected: var(--text-normal);
  /* Selected channel text color, CV default is #fff */
  --muted-color: var(--text-muted);
  /*Muted channel color  [default: rgba(255,255,255,0.1);]*/

  /* MODAL BACKDROP */
  --backdrop-overlay: var(--background-overlay);
  /* modal backdrop overlay color/gradient [default: rgba(0, 0, 0, 0.8)] */
  --backdrop-image: var(--background-image);
  /* modal backdrop image (link must be HTTPS) [default: var(--background-image)] */
  --backdrop-position: var(--background-position);
  /* modal backdrop position [default: var(--background-position)] */
  --backdrop-size: var(--background-size);
  /* modal backdrop size [default: var(--background-size)] */
  --backdrop-repeat: var(--background-repeat);
  /* modal backdrop repeat [default: var(--background-repeat)] */
  --backdrop-attachment: var(--background-attachment);
  /* modal backdrop attachment [default: var(--background-attachment)] */
  --backdrop-brightness: var(--background-brightness);
  /* modal backdrop brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --backdrop-contrast: var(--background-contrast);
  /* modal backdrop contrast [default: var(--background-contrast)] */
  --backdrop-saturation: var(--background-saturation);
  /* modal backdrop saturation [default: var(--background-saturation)] */
  --backdrop-invert: var(--background-invert);
  /* modal backdrop invert (0 - 100%)  [default: var(--background-invert)] */
  --backdrop-grayscale: var(--background-grayscale);
  /* modal backdrop grayscale ( 0 - 100%) [default: var(--background-grayscale)] */
  --backdrop-sepia: var(--background-sepia);
  /* modal backdrop sepia (0 - 100%) [default: var(--background-sepia)] */
  --backdrop-blur: var(--background-blur);
  /* modal backdrop blur [default: var(--background-blur)] */

  /* USER POPOUT BACKGROUND */
  --user-popout-image: var(--background-image);
  /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-popout-position: var(--background-position);
  /* user popout background position [default: var(--background-position)] */
  --user-popout-size: var(--background-size);
  /* user popout background size [default: var(--background-size)] */
  --user-popout-repeat: var(--background-repeat);
  /* user popout background repeat [default: var(--background-repeat)] */
  --user-popout-attachment: var(--background-attachment);
  /* user popout background attachment [default: var(--background-attachment)] */
  --user-popout-brightness: var(--background-brightness);
  /* user popout background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-popout-contrast: var(--background-contrast);
  /* user popout background contrast [default: var(--background-contrast)] */
  --user-popout-saturation: var(--background-saturation);
  /* user popout background saturation [default: var(--background-saturation)] */
  --user-popout-invert: var(--background-invert);
  /* user popout background invert (0 - 100%) [default: var(--background-invert)] */
  --user-popout-grayscale: var(--background-grayscale);
  /* user popout background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-popout-sepia: var(--background-sepia);
  /* user popout background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-popout-blur: calc(var(--background-blur) + 3px);
  /* user popout background blur [default: calc(var(--background-blur) + 3px)] */
  --user-popout-overlay: var(--background-overlay);
  /* user popout overlay color [default: rgba(0, 0, 0, .6)] */

  /* USER MODAL BACKGROUND */
  --user-modal-image: var(--background-image);
  /* app background image (link must be HTTPS) [default: var(--background-image)] */
  --user-modal-position: var(--background-position);
  /* user modal background position [default: var(--background-position)] */
  --user-modal-size: var(--background-size);
  /* user modal background size [default: var(--background-size)] */
  --user-modal-repeat: var(--background-repeat);
  /* user modal background repeat [default: var(--background-repeat)] */
  --user-modal-attachment: var(--background-attachment);
  /* user modal background attachment [default: var(--background-attachment)] */
  --user-modal-brightness: var(--background-brightness);
  /* user modal background brightness (< 100% for darken, > 100% for lighten) [default: var(--background-brightness)] */
  --user-modal-contrast: var(--background-contrast);
  /* user modal background contrast [default: var(--background-contrast)] */
  --user-modal-saturation: var(--background-saturation);
  /* user modal background saturation [default: var(--background-saturation)] */
  --user-modal-invert: var(--background-invert);
  /* user modal background invert (0 - 100%) [default: var(--background-invert)] */
  --user-modal-grayscale: var(--background-grayscale);
  /* user modal background grayscale (0 - 100%) [default: var(--background-grayscale)] */
  --user-modal-sepia: var(--background-sepia);
  /* user modal background sepia (0 - 100%) [default: var(--background-sepia)] */
  --user-modal-blur: calc(var(--background-blur) + 3px);
  /* user modal background blur [default: calc(var(--background-blur) + 3px)] */

  /* THEME BD COLORS */
  --bd-blue: var(--main-color);
  /* betterdiscord main color [default: var(--main-color)] */
  --bd-blue-hover: var(--hover-color);
  /* betterdiscord hover color [default: var(--hover-color)] */
  --bd-blue-active: var(--hover-color);
  /* betterdiscord active color [default: var(--hover-color)] */
}

/* Custom CSS */
/* TODO: make these class names version-independent with [class*=] selectors */

:root {
  --rs-online-color: var(--online-color); /* Colour for online status */
  --rs-idle-color: var(--idle-color); /* Colour for idle status */
  --rs-dnd-color: var(--dnd-color); /* Colour for dnd status */
  --rs-offline-color: var(--offline-color); /* Colour for offline status */
  --rs-streaming-color: var(--streaming-color); /* Colour for streaming status */
  --rs-invisible-color: var(--offline-color); /* Colour for invisible status - Note: this will only show for your own invisibility */
  --rs-self-speaking-color: var(--success-color); /* Colour for speaking ring in the bottom left while in a voice chat/call */
  --rs-phone-color: var(--rs-online-color);
}

.nowPlayingColumn_b025fe {
  display: none;
}

::selection {
  color: var(--text-normal);
  background: var(--url-color);
}

.match-20K5f5, .overflow-1wOqNV,
  .subText-3Sk0zy, .activityText-ev7Z1T, .message-2CShn3 .markup-eYLPri,
  .name-2m3Cms, .contents-3ca1mk, .textArea-2CLwUE, .input-2FSSDe,
  .username-3JLfHz, .username-Qpc78p, .name-3Uvkvr, .actionIcon-2sw4Sl,
  .label-2gNW3x, .subtext-2GlkbE, .embedDescription-1DrJxZ,
  .title-17SveM, .typing-2J1mQU, button,
  .metadataName-1KMZtB, .title-338goq, h1,h2,h3 {
  color: var(--text-normal) !important;
}
.discriminator-WV5K5s, .text-MPIeXO, .button-2BMPJJ, .linkButtonIcon-7rsZcu,
  .searchBarComponent-3N7dCG,
  .public-DraftEditorPlaceholder-inner, .timestamp-p1Df1m, .timestampInline-_lS3aK,
  .topic-11NuQZ, .expandable-3CaLeS, .blockquoteContainer-3VtvI1, .metadataSize-2A2s1T,
  .content-vSHmMD, .spoilerText-27bIiA, .counter-uAzbKp,
  .toolbar-3_r2xA, .clickable-ZD7xvu, .icon-2xnN2Y, .voiceUser-3nRK-K, .username-vAneIW {
  color: var(--main-color) !important;
}


.spoilerContent__37bfa.spoilerMarkdownContent__2b8f8.hidden_f44e41 {
  background: var(--main-color) !important;
}

.channelMention,
.wrapper-1ZcZW-,
.iconMention-3WxjBe,
.iconMentionText-1_WCtN,
/* .mention, 
.interactive, */
.wrapper-3kah-n {
  color: var(--url-color) !important;
}

/* message bar fix */
.channelTextArea__2e60f.channelTextArea__56a36 {
  min-height: fit-content;
}
.scrollableContainer__33e06.themedBackground__6b1b6.webkit__8d35a {
  height: 100%;
}

/* remove border */
.channelTextArea__56a36:focus-within {
  box-shadow: none;
}

/* Make the emote tray short and stout */
.drawerSizingWrapper__30274 {
  /* does this count as !important abuse? */
  width: 734px !important;
  height: 360px !important;
  bottom: 0px !important;
  right: 0px !important;
}
/* emote picker color */
#emoji-picker-tab-panel > div.header_e5d8b2 {
  background-color: var(--popout-color);
}

/* remove shop and nitromenu */
div.scroller__89969.thin_b1c063.scrollerBase_f742b2.fade_ba0fa0 > ul > li:nth-child(5),
div.scroller__89969.thin_b1c063.scrollerBase_f742b2.fade_ba0fa0 > ul > li:nth-child(3) {
  display: none;
}

/* remove decorations */
.avatarDecoration_cf681a, .avatarDecoration__8a0c2 {
  display: none;
}
.profileEffects__9b664 {
  display: none;
}

/* remove useless channel pills */
.newChannel__1bbcf {
  display: none;
}

/* fixes */

/* why is the settings so padded */
.sidebarRegion__36437 {
    flex: 1;
}
.contentColumn__5f80b {
    max-width: unset;
}

[class*="actionIcon"] > path {
    fill: currentColor !important;
}

[class^="unread__"] {
  display: block;
  color: var(--channel-color);
  background-color: currentColor;
}

[class*="modeUnreadImportant__"] *,
[class*="modeConnected_"] * {
  color: var(--text-normal) !important;
}

*:not(svg *) {
  filter: none !important;
  text-shadow: none !important;
}
